<h1>Agregar Catalogo Admin</h1>
<h1>{{catalogo.id == null ? 'Add' : 'Edit'}} Catalogo - {{catalogo.id}}</h1>

<form>

  <label for="user">Usuario</label>
  <input type="text" class="form-control" id="idusuario" placeholder="idusuario" name="idusuario" [(ngModel)]="catalogo.idusuario">

  <label for="fechaIns">Fecha de Registro</label>
  <input type="text" class="form-control" id="fechaIns" placeholder="fechaIns" name="fechaIns" [(ngModel)]="catalogo.fechaIns">
  
  <label for="descripcion">Descripcion</label>
  <input type="text" class="form-control" id="descripcion" placeholder="descripcion" name="descripcion" [(ngModel)]="catalogo.descripcion">
  

  <label for="detalle">Detalle del Item</label>
  <input type="text" class="form-control" id="detalle" placeholder="detalle" [(ngModel)]="catalogo.detalle" name="detalle">

  <label for="img">Imagen</label>
  <input type="text" class="form-control" id="img" placeholder="img" [(ngModel)]="catalogo.img" name="img">

  <label for="precio">Precio</label>
  <input type="text" class="form-control" id="precio" placeholder="precio" name="precio" [(ngModel)]="catalogo.precio">

  <label for="estatus">Estado</label>
  <input type="text" class="form-control" id="estatus" placeholder="estatus" name="estatus" [(ngModel)]="catalogo.estatus">

    <br>
    <input type="file" (change)="onFileChanged($event)">
    <img [src]="imgURL" height="200" width="200" *ngIf="imgURL">

  <br>
  <button type="button" class="btn btn-success" (click)="saveCatalogo()">Guardar</button>
</form>