<h1>Administrar Usuarios</h1>
<a class="btn btn-primary mb-3" (click)="addUser()">Nuevo</a>
<div class="container row">
    <div   class="col-md-6">
    <table class="table">
      <thead>
      <tr>
        <th>ID</th>
        <th>Nombre</th>
        <th></th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let usuario of usuarios" >
        <td>{{usuario.id}}</td>
        <td>{{usuario.nombre}}</td>
        <td><button type="button" class="btn btn-primary"(click)="viewUser(usuario.id)">Ver Detalles</button></td>
      </tr>
      </tbody>
    </table>
  </div>
  <div   class="col-md-6">
    <app-adduser *ngIf="action === 'add'" [usuario]="selectedUser" (usuarioAddedEvent)="refreshData()"></app-adduser>
    <app-viewuser *ngIf="action === 'view'" [usuario]="selectedUser"(usuarioDeletedEvent)="refreshData()"></app-viewuser>
  </div>
</div>