<section class="content-fluid">
	<!-- CHECKOUT-AREA START -->
	<div class="checkout-area">
		<div class="container">
			<form [formGroup]="formGroup" (ngSubmit)="submit()">
				<div class="row">

					<div class="col-sm-6">
						<div class="billing-address margin-65">
							<h2 class="title-3">Datos de Compra</h2>
							<div class="row">
								<div class="col-sm-6">
									<input formControlName="nombres" type="text" class="custom-form"
										placeholder="Nombres" name="nombres" />
										<div class="alert-danger" *ngIf="formGroup.get('nombres').invalid && 
																	(formGroup.get('nombres').dirty || formGroup.get('nombres').touched)">
											<div class="container-error-menssage" *ngIf="formGroup.get('nombres').errors.required">
												Nombres requerido
											</div>
										</div>
								</div>
								<div class="col-sm-6">
									<input formControlName="apellidos"  type="text" class="custom-form" placeholder="Apellidos" name="apellidos" />
									<div class="alert-danger" *ngIf="formGroup.get('apellidos').invalid && 
																(formGroup.get('apellidos').dirty || formGroup.get('apellidos').touched)">
										<div class="container-error-menssage" *ngIf="formGroup.get('apellidos').errors.required">
											Apellidos requerido
										</div>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-md-12">
									<textarea  formControlName="direccion"  name="direccion" class="custom-form" placeholder="Dirección" ></textarea>
									<div class="alert-danger" *ngIf="formGroup.get('direccion').invalid && 
																(formGroup.get('direccion').dirty || formGroup.get('direccion').touched)">
										<div class="container-error-menssage" *ngIf="formGroup.get('direccion').errors.required">
											Dirección requerida
										</div>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-sm-6">
									<input formControlName="telefono"  name="telefono" type="text" class="custom-form" placeholder="Teléfono" />
									<div class="alert-danger" *ngIf="formGroup.get('telefono').invalid && 
																(formGroup.get('telefono').dirty || formGroup.get('telefono').touched)">
										<div class="container-error-menssage" *ngIf="formGroup.get('telefono').errors.required">
											Teléfono requerido
										</div>
									</div>
								</div>
								<div class="col-md-12">
									<input formControlName="email" type="text" class="custom-form" placeholder="Email" name="email" />
									<div class="alert-danger" *ngIf="formGroup.get('email').invalid && (formGroup.get('email').dirty || formGroup.get('email').touched)">
										<div class="container-error-menssage" *ngIf="formGroup.get('email').errors.required">
											Email requerido
										</div>
										<div class="container-error-menssage" *ngIf="formGroup.get('email').errors.email">
											Email invalido
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-3 col-sm-5">
						<div class="order margin-65">
							<h2 class="title-3">Resumen de la Orden</h2>
							<div>
								<table style="font-size: small;" class="table">
									<tbody>
										<tr>
											<td class="text-left">Cantidad Articulos</td>
											<td class="text-right" colspan="2">{{cartCatalogos.length}}</td>
										</tr>
										<tr>
											<td class="text-left" style="font-weight: bold;">Detalles: </td>
											
										</tr>
										<tr  *ngFor="let catalogo of cartCatalogos">
											<td>{{catalogo.catalogo.descripcion}}</td>
											<td class="text-right">{{catalogo.cantidad}}</td>
											<td class="text-right">{{catalogo.catalogo.precio * catalogo.cantidad | currency}}</td>
										</tr>
									</tbody>
									<tfoot>
										<tr>
											<td class="text-right custom-td"><strong>Total =</strong></td>
											<td class="text-right custom-td" colspan="2"><strong>{{totalCart| currency}}</strong></td>
										</tr>
									</tfoot>
								</table>
							</div>
						</div>
					</div>
					<!-- Enter-Payment Start -->
					<div class="col-md-9 col-sm-7">
						<div class="enter-payment margin-65">
							<div class="row">
								<div class="col-sm-4">
									<input type="submit" class="custom-form custom-submit no-margin"
										value="Confirmar Compra" [disabled]="formGroup.invalid" />
								</div>
								<div class="col-sm-4">
									<input (click)="limpiarCarrito()" [routerLink]="['/shop']"
										routerLinkActive="router-link-active" type="submit"
										class="custom-form custom-submit no-margin" value="Cancelar" />
								</div>
								<div class="col-sm-4">
									<a [routerLink]="['/shop']" routerLinkActive="router-link-active"
										class="custom-form custom-submit no-margin">Continuar Comprando</a>
								</div>
							</div>
						</div>
					</div>
					<!-- Enter-Payment End -->
				</div>
			</form>
		</div>
	</div>
	<!-- CHECKOUT-AREA END -->
</section>