<!-- LOGIN-AREA START -->
<div class="lognin-area">
	<div class="container">
		<div class="row">
			<!-- Registered-Customers Start -->
			<div class="col-md-2"></div>
			<div class="col-md-8">
				<form method="post">
					<div class="registered-customers margin-65">
						<h2 class="title-3">Iniciar Sesion</h2>
						<div class="registered">
							<div class="row">
								<div class="col-md-12">
									<input [(ngModel)]="usuario.nombre" type="text" id="username" placeholder="Usuario"
										autofocus required class="custom-form" name="username" />
								</div>
							</div>
							<div class="row">
								<div class="col-md-12">
									<input [(ngModel)]="usuario.password" type="password" name="password" id="password"
										required class="custom-form" placeholder="Clave" />
								</div>
							</div>
							<p><label class="forgot"><a href="#">Olvido su Clave?</a></label></p>
							<input (click)='login()' type="submit" class="custom-submit-2" value="login" />
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>