<section class="page-banner-area">
    <div class="col-xs-12">
        <div class="page-banner-brief">
            <h2>Carrito</h2>
        </div>
    </div>
</section>
<!-- Page-Banner-AREA END -->
<section class="content" style="margin-top: -45px">
    <!-- CART-AREA START -->
    <div class="cart-area margin-70">
        <div class="container-fluid">
            <form action="#">
                <div class="row">
                    <div class="col-md-12">
                        <div class="table-responsive">
                            <table class="table ">
                                <tbody>
                                    <tr *ngFor="let catalogo of cartCatalogos;let i=index">
                                        <td class="text-left shopping-cart-breif">
                                            <div class="cart-img-photo">
                                                <a><img src="{{catalogo.catalogo.retrievedImage}}" width="100px"></a>
                                            </div>
                                        </td>
                                        <td >
                                            
                                            <app-contador [catalogo]="catalogo.catalogo" [cantidadItems]="catalogo.cantidad" 
                                                [addBotoom]="false" (addToCartConteo)="updateSomeToCart($event)">
                                            </app-contador>
                                            <h5><a class="text-uppercase">{{catalogo.catalogo.descripcion}}</a></h5>
                                            <h6><span>Precio: </span>${{catalogo.catalogo.precio}}</h6>
                                        </td>
                                        <td class="text-center">
                                            ${{catalogo.catalogo.precio * catalogo.cantidad}}
                                            
                                            <a (click)="deleteItem(i)"  class="text-danger" style="font-size: x-large;"><i
                                                class="pe-7s-trash"></i></a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="shipping-discount-details">
                    <div class="row">
                        <div class="col-sm-4 col-sm-12">
                            <label class="custom-form custom-submit active-submit">Total Compra: {{totalCart}}</label>
                            <input [routerLink]="['/checkout']" routerLinkActive="router-link-active" type="submit"
                                class="custom-submit-2" value="Finalizar Compra" />
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <!-- CART-AREA END -->
    <!-- BRANDS-LOGO-AREA START -->

</section>
<!-- FOOTER-AREA START -->