<a *ngIf="addBotoom" class="btn btn-primary" (click)="onAddToCart()"><i class="pe-7s-cart"></i>Agregar</a>
<br><br>

<div *ngIf="addBotoom" class="cart-plus-minus">
    <div (click)="subtractItem()" class="dec qtybutton">-</div>
    <input type="text" [(ngModel)]="cantidad" name="qtybutton" class="cart-plus-minus-box">
    <div (click)="addItem()" class="inc qtybutton">+</div>
</div>

<div *ngIf="!addBotoom" class="cart-plus-minus">
    <div (click)="subtractItemUpdate()" class="dec qtybutton">-</div>
    <input (change)="onUpdateToCart()" type="text" [(ngModel)]="cantidadItems" name="qtybutton" class="cart-plus-minus-box">
    <div (click)="addItemUpdate()" class="inc qtybutton">+</div>
</div>